html, body{
  height: 100%;
  width: 100%;
  font-family: 'Noto Sans JP';
  color: #996854;
}

header h1, h3{
  color: #CD5C5C;
}
header h1 {
  font-weight: bold;
  font-size: 3rem;
}
.jumbotron-x { 
  background:url(img/coffee_desk.jpeg) center no-repeat; 
  background-size: cover;
  margin-bottom: 0;
  position: relative;
  height: 80vh;
  min-height: 300px;

  display: flex;
  align-items: center;
	justify-content: center;

}
.display-4 {
  color: #664538;
  margin-top: 2rem;
}
.fa-user-circle, .fa-terminal, .fa-desktop, .fa-envelope {
  margin: 0 1rem;
}
.navbar {
  padding: 0;
  margin: auto;
  text-align: center;
}
.nav-link {
  font-size: 120%;
  padding: 1.5rem 2rem;
  color: #996854;
}
.sticky-top {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

ul {
  list-style: none;
  padding: 2rem;
  text-align: center;
  display: inline-block;
}

li {
  text-align: left;
}
p, li{
  font-size: 1.5rem;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: none;
}
.card-title-small {
  font-size: 1rem;
  font-weight: 600%;
  color: #996854;
}

.card-text {
  font-size: .8rem;
  color: #996854;
}
/* これからアップ予定のページについて */
.upcoming {
  opacity: 0.3;
}

footer {
  margin:0 auto;
  background-color: #FFE4E1;
  color: #996854;
}
footer a {
  padding: 0 2rem;
  color: #996854;
}

.fa-twitter {
  font-size: 3rem;
  margin: 2rem;
  color: #996854;
}
.nav-link:hover, footer a:hover, .fa-twitter :hover {
  color: #CD5C5C;
}
footer p{
  font-size: .8rem;
}

#page_top{
  width: 90px;
  height: 60px;
  position: fixed;
  right: 0;
  bottom: 0;
  opacity: 0.6;
  border: 3px solid #996854;
  border-radius: 15px;
}
#page_top a{
  position: relative;
  display: block;
  width: 90px;
  height: 60px;
  text-decoration: none;
}
#page_top a::before{
  font-family: FontAwesome;
  content: '\f062';
  font-size: 25px;
  color: #996854;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -25px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
#page_top a::after{
  content: 'PAGE TOP';
  font-size: 13px;
  color: #996854;
  position: absolute;
  top: 38px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

/*---Media Queries --*/
@media (max-width: 992px) {
  }
@media (max-width: 768px) {
 header h1 {
  font-size: 200%;
 }
 header h3 {
  font-size: 110%;
 }
 p, li {
   font-size: 100%;
 } 
.display-4 {
  font-size: 200%;
} 
.nav-link {
  font-size: 90%;
  padding: .5rem;
}
}
@media (max-width: 576px) {
.nav-link {
  font-size: 75%;
  padding: .3rem;
} 
}
/*#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
*/
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








